@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

main {
    margin-top: 160px;
}

table {
    text-align: center;
    user-select: none;
    border-spacing: 0;
}

td,
th {
    padding: 20px;
    font-size: 1.2rem;
}

td.not {
    background-color: rgb(245, 130, 130);
    color: #000000ab;
}

td {
    background-color: rgb(139, 218, 139);
    cursor: pointer;
    border: 1px solid #141414;
    color: black;
}

.teachers {
    display: inline-table;
}

.teachers td,
th {
    font-size: 1.2rem;
    background-color: #83959f;
    color: white;
    border: 1px solid #d0d0d0;
}

.teachers th {
    background-color: #6d7d86;

    border: 1px solid #918b8b;
}

.calendar {
    display: inline-block;
}
.calendar td.past,
.calendar td.day6,
.calendar td.day7 {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.calendar td.day6,
.calendar td.day7 {
    background-color: #aaa;
    /*filter: grayscale(100%);
    opacity: 0.9;*/
}

.calendar .today {
    border: 2px solid red;
}

button.save {
    width: 448px;
    height: 80px;
    margin: 0px auto;
    background-color: black;
    color: white;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    background-color: #ccc;

    box-shadow: #444 0 0 5px;
}

.menu h1 {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.6em;
    font-family: 'Pacifico', cursive;
}

.menu a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}

.menu ul {
    padding: 1;
    padding-left: 0;
}

.menu ul li,
button {
    display: inline-block;
    list-style: none;
    width: 150px;
    background: rgba(0, 0, 0, 0.32);
    text-align: center;
    padding: 12px;
    margin: 0px;
    color: white;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: normal;
}

.menu ul li:hover,
button:hover {
    background: rgb(61, 61, 61);
    text-align: center;
}

.menu ul li ul li {
    background: #49bbff;
}
.menu ul li ul li:hover {
    background: #466a7f;
}

.content {
    display: inline-block;
    max-width: 1000px;
    text-align: left;
}
