table {
    user-select: none;
    border-spacing: 0;
}

td,
th {
    padding: 20px;
    font-size: 1.2rem;
}

td.not {
    background-color: rgb(245, 130, 130);
    color: black;
}

td {
    background-color: rgb(139, 218, 139);
    cursor: pointer;
    border: 1px solid black;
    color: black;
}

.teachers td,
th {
    padding: 20px;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.calendar td.past,
.calendar td.day6,
.calendar td.day7 {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.calendar td.day6,
.calendar td.day7 {
    background-color: #aaa;
    /*filter: grayscale(100%);
    opacity: 0.9;*/
}

.calendar .today {
    border: 2px solid red;
}

button.save {
    width: 448px;
    height: 80px;
    margin: 0px auto;
    background-color: black;
    color: white;
}

.menu a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.menu ul li ul {
    display: none;
}

.menu ul li {
    float: left;
    list-style: none;
    width: 150px;
    height: 30px;
    background: rgb(0, 0, 0);
    text-align: center;
    padding-top: 12px;
    border-right: 2px solid white;
}

.menu ul li:hover {
    background: rgb(61, 61, 61);
    text-align: center;
}

.menu ul ul {
    margin-top: 10px;
}

.menu ul li ul li {
    margin-left: -40px;
}

.menu ul li:hover > ul {
    display: block;
}
.menu ul li ul li {
    background: #49bbff;
}
.menu ul li ul li:hover {
    background: #466a7f;
}
