table {
    user-select: none;
    border-spacing: 0;
}

td,
th {
    padding: 20px;
    font-size: 1.2rem;
}

td.not {
    background-color: rgb(245, 130, 130);
    color: black;
}

td {
    background-color: rgb(139, 218, 139);
    cursor: pointer;
    border: 1px solid black;
    color: black;
}

.teachers td,
th {
    padding: 20px;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: 1px solid white;
}

button.save {
    width: 448px;
    height: 80px;
    margin: 0px auto;
    background-color: black;
    color: white;
}

nav.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
}
